@charset "UTF-8";

body{
    background-color: rgb(73, 35, 245);

}

header{

}
header > h1{
    text-align: center;
    color: white;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
}
div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
}

div#msg{
    margin: auto;
    padding-bottom: 20px;
    color: blue;
}

img{
    width: 200px
}

footer {
    margin: auto;
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 20px;
    padding: 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
    width: 530px;
    border-radius: 5px;

}